{% extends "base.html" %}
{% block title %} Frettir {%endblock%}
{% block content %}
<div class="main">
<main>
   <section> 
        <h1>
            {{ frett[1] }}
        </h1>
        <img src="/static/mynd{{ nr }}.jpg">
    </section>
    <section>
        <p>{{ frett[2] }}</p>
        <p>Höfundur: {{ frett[3] }}</p>
    </section>
</main>
    <p><a href="/b-hluti">Fréttayfirlit</a></p>
    <p><a href="/a-hluti">Verkefni 2.1 Dýnamískt ráp</a></p>
    <p><a href="/">Forsíða</a></p>
</div>
{%endblock%}